<!DOCTYPE html>
<html>
  <head>
    <title>GlitchCraft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="#">GlitchCraft</a>
      <div class="." id=".">
        <ul class="navbar-page-links">
          <li class="nav">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        <ul class="navbar-login-links">
          <li class="nav">
            <a class="nav-link" href="/auth/google_oauth2">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
